{% extends 'base.html.twig' %}
{% block title %}Главная{% endblock %}
{% block section_title %}
    <h2>Добро пожаловать!</h2>
{% endblock %}
{% block section_content %}
    <h2>Здесь вы можете проверить свои знания!</h2>
{% endblock %}