//Use global css variables here
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

// If you want to include custom fonts, use this example string
// $fa-font-path: "~font-awesome/fonts";

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #333333;
}