.form-security {
    margin-top: 20px;
    max-width: 50%;
}
.form-security .form-security-heading,
.form-security .checkbox {
    margin-bottom: 10px;
}
.form-security input[type="text"],
.form-security input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}
form .form-group label{
    color: inherit;
    font-size: 16px;
    font-weight: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media (max-width: 768px){
    .form-security {
        max-width: 100%;
    }
}
.information-block{
    float:left;
}