<div class="quiz">
    <div class="jumbotron">
        <h3>{{ quiz.name }}</h3>
        <p>{{ quiz.description }}</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Старт</a></p>
    </div>
</div>