{% extends 'base.html.twig' %}
{% block title %}Пользователи{% endblock %}
{% block btn_users %}
    <li class="active"><a href="{{ path('user.list') }}">Пользователи <span class="sr-only">(current)</span></a></li>
{% endblock %}
{% block section_title %}
    Пользователи
{% endblock %}
{% block section_content %}

{% endblock %}